/*============MAIN============*/
.main {
  padding-top: 71px;
  padding-bottom: 47px;
  background-image: url("../../public/img/home/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  @include adaptiveValueREM('margin-bottom', 100, 30, 1920, 320, 1);
  @media (max-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
  }
  &__container {
  }

  &__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__content {
    h1{
      font-weight: 900;
      font-size: 100px;
      @include adaptiveValueREM('font-size', 100, 30, 1920, 320, 1);
      line-height: 100%;
      color: #FFFFFF;
      max-width: 506px;
      margin-bottom: em(50, 100);
      transition: all 1s ease 0s;
      @media (min-width: $mobile) {
        transform: translateY(50%);
        opacity: 0;
        &._animated{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      @media (max-width: $mobile) {
      opacity: 0;
      transform: scale(0);
      &._animated{
        transform: scale(1);
        opacity: 1;
      }
      }
    }
  }
  &__btn{
    @extend %btn;
    @media (min-width: $mobile) {
      transform: translateY(100%);
      opacity: 0;
      transition: all 1s ease 0.5s;
      &._animated{
        transform: translateY(0%);
        opacity: 1;
      }
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__btn-mobile{
    @media (min-width: $mobile) {
      display: none;
    }
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: $gradient;
    padding: 15px 62px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease 0.5s;
    &._animated{
      transform: translateY(0%);
      opacity: 1;
    }
  } 

  &__img {
    position: relative;
    z-index: 2;
    position: relative;
    transition: all 2s ease 0s;
      transform: translateX(100%);
      opacity: 0;
      &._animated{
        transform: translateX(0%);
        opacity: 1;
      }
    @media (max-width: $mobile) {
      margin-bottom: 25px;
      transform: translateX(80%);
    }
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 2;
    }
  }
  @supports (filter: blur()){
    &__img-bg{
      position: absolute;
      bottom: 0;
      left: 0;
      background: #000000;
      filter: blur(50px);
      width: 428px;
      height: 130px;
      @media (max-width: $mobile) {
        
      }
    }
  }
}
/*============MAIN============*/

/*============WHAT============*/
.what {
  @include adaptiveValueREM('margin-bottom', 100, 30, 1920, 320, 1);
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;
    margin-right: 100px;

      transform: scale(0);
      opacity: 0;
      transition: all 1s ease 0s;
      &._animated{
      transform: scale(1);
      opacity: 1;
      }

    @media (max-width: $tablet) {
      order: 2;
      margin-right: 0;
    }
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
  }

  &__text {
    max-width: 520px;
      transform: translateX(80%);
      opacity: 0;
      transition: all 1s ease 0s;
      &._animated{
        transform: translateX(0%);
        opacity: 1;
      }
    @media (max-width: $tablet) {
      order: 1;
      margin-bottom: 30px;
    }
    @media (max-width: $mobile) {
      transform: translateX(50%);
    }
  }
}
/*============ADVANTAGES============*/
.advantages {
  @include adaptiveValueREM('padding-top', 100, 30, 1920, 320, 1);
  @include adaptiveValueREM('padding-bottom', 100, 30, 1920, 320, 1);
  background-color: $lightGreen;
  position: relative;
  &__ancor{
    position: absolute;
    top: -100px;
  }
  &__container {
  }

  &__body {
    h2{
      text-align: center;
    }
  }

  &__row {
    display: flex;
    @media (max-width: em(1300)) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__items {
    display: flex;
    &:not(:last-child){
      margin-right: 32px;
      }
      @media (max-width: em(1300)) {
        margin-bottom: 30px;
        justify-content: center;
        &:not(:last-child){
          margin-right: 0px;
          }
      }
      @media (max-width: $mobile) {
      flex-direction: column;
      }
  }

  &__item {
    position: relative;
    &:not(:last-child){
      margin-right: 32px;
      }
      h3{
        position: relative;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 16px;
        @media (max-width: $mobile) {
          margin-bottom: 8px;
          text-align: center;
        }
        &:after{
          content: '';
          position: absolute;
          bottom: -16px;
          left: 0;
          width: 100%;
          height: 16px;
        }
      }
      @media (max-width: em(1300)) {
        //max-width: 222px;
      }
      @media (max-width: $mobile) {
        &:not(:last-child){
          margin-right: 0px;
          margin-bottom: 25px;
          }
      }
  }

  &__icon {
    position: relative;
    margin-bottom: 16px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    svg{
      position: relative;
      z-index: 1;
    }
    stop {
      transition: all .3s linear 0s;
    }
    &:before{
      content: '';
      transition: all .3s linear 0s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      background: $gradient;
    }
      &:hover {
        stop:first-child {
          stop-color: #fff;
        }
        stop:last-child {
          stop-color: #fff;
        }
        &::before{
          opacity: 1;
        }
      }
    &.active{
      stop:first-child {
        stop-color: #fff;
      }
      stop:last-child {
        stop-color: #fff;
      }
      &::before{
        opacity: 1;
      }
    }
    &::after{
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 100%;
      height: 46px;
      
    }
    @media (max-width: $mobile) {
      margin: 0px auto 8px auto;
    }
  }
}
/*============ADVANTAGES============*/

/*============EFFICIENCY============*/
.efficiency {
  @include adaptiveValueREM('margin-bottom', 100, 30, 1920, 320, 1);
  @include adaptiveValueREM('padding-bottom', 210, 260, 1920, 1750, 1);
  @media (min-width: em(1920)) {
    padding-bottom: calc(100vw * 210 / 1920);
  }
  @media (max-width: em(1300)) {
    padding-bottom: 0;
  }
  
  &__container1920{
    position: relative;
    //max-width: rem(1920);
    max-width: 100%;
    padding: 0;
  @media (max-width: em(1300)) {
    max-width: 77.5rem;
    padding: 0 0.9375rem;
  }
  }
  &__body {
  display: flex;
  justify-content: space-between;
  //@include adaptiveValueREM('margin-left', 340, 10, 1920, 1301, 1);
  margin-left: calc((100vw - 1240px) / 2);
  @media (max-width: em(1300)) {
    margin-left: 0;
    flex-direction: column;
  }
  }

  &__content {
  max-width: 520px;
  margin-right: 100px; 
  margin-top: 100px;
  @media (max-width: em(1300)) {
    margin: 0 auto 20px auto;
    order: 2;
    h2{
      text-align: center;
    }
  }
  }

  &__img {
    position: relative;
    right: 0;
    @include adaptiveValueREM('top', 0, 100, 1920, 1301, 1);
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; 
    }
    @media (max-width: em(1300)) {
      top: 0;
      margin-bottom: 20px;
      order: 1;
    }
  }

  &__picture-mobile{
    display: none;
    @media (max-width: em(1300)) {
      display: block;
      order: 3;
      position: relative;
      img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      }
    }
  }

  &__picture {
    position: absolute;
    bottom: -210px;
    left: 0;
    width: 53.959%;
    height: 46.358%;
    @include adaptiveValueREM('bottom', -210, -260, 1920, 1750, 1);
    @media (min-width: em(1921)) {
      width: calc(100vw - 880px);
      height: calc(100vw * 350px / 1920px);
      bottom: calc(100vw * -210px / 1920px);
      max-height: 580px;
    }
    img {
      //position: relative;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill; 
      }
      @media (max-width: em(1300)) {
        display: none;
      }
  }
 
}
/*============EFFICIENCY============*/

/*============PUMP============*/
.pump {
  h2{
    text-align: center;
  }
  &__content {
    margin-bottom: 40px;
    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  &__presentation {
  }
}
.content-water {

  &__text {
    display: flex;
    justify-content:center;
    @media (max-width: $mobile) {
      flex-direction: column;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__text-item {
    max-width: 520px;
    font-size: 15px;
    line-height: 150%;
    &:not(:last-child){
      margin-right: 50px;
    }
    @media (max-width: $mobile) {
      &:not(:last-child){
        margin-right: 0px;
        margin-bottom: 25px;
      }
    }
  }
}
.presentation-pump {
  @include adaptiveValueREM('margin-bottom', 100, 30, 1920, 320, 1);
  &__container {
    position: relative;
  }

  &__body {
    position: relative;
    
  }
  &__img-wrapper{
    padding-bottom: 17.02%;
    background-image: url("../../public/img/home/bg-goods.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //padding-bottom: 7.823%;
    //padding-bottom: 17.02%;
    @media (max-width: $tablet) {
      background-size: 110% 100%;
      background-position-x: -50px;
      margin-bottom: 20px;
    }
    @media (max-width: $mobile) {
      background-size: 115% 100%;
      background-position-x: -45px;
      @include adaptiveValueREM('background-position-x', -70, - 45, 767, 480, 1)
    }
    @media (max-width: $mobileSmall) {
      background-size: 170% 100%;
      @include adaptiveValueREM('background-position-x', -175, -105, 479, 320, 1)
    }
  }

  &__img {
    margin: 0 auto;
    position: relative;
    z-index: 5;
    @include adaptiveValueREM('width', 329, 200, 1240, 320, 1);
    @include adaptiveValueREM('top', 115, 55, 1240, 768, 1);
    @include adaptiveValueREM('left', 35, 25, 1240, 768, 1);
    @media (max-width: $mobile) {
      @include adaptiveValueREM('top', 55, 15, 767, 480, 1);
      @include adaptiveValueREM('left', 25, 15, 767, 480, 1);
    }
    @media (max-width: $mobileSmall) {
      @include adaptiveValueREM('top', 15, 10, 479, 320, 1);
    }
    &:before{
      content: url('../../public/img/home/splash-left.webp');
      position: absolute;
      top: -10px;
      left: -120px;
      width: 204px;
      max-height: 272px;
      transform: rotate(-32.12deg);
    }
    &::after{
      content: url('../../public/img/home/splash-right.webp');
      position: absolute;
      bottom: 10px;
      right: -45px;
      width: 204px;
      max-height: 272px;
      z-index: 2;
      @media (max-width: $mobile) {
        right: -10px;
      }
    }
    &.ground{
      .presentation-pump__dot-rb{
        display: none;
      }
      .presentation-pump__dot-rt{
        top: percent(113, 339);
        left: percent(233, 329);
        &::after{
          content: '';
          position: absolute;
          right: -125px;
          top: 47px;
          width: 140px;
          height: 2px;
          background-color: $green;
          transform: rotate(35deg);
        }
      }
      &:before{
      content: url('../../public/img/home/ground.webp');
      top: unset;
      bottom: -25px;
      left: -100px;
      width: 204px;
      max-height: unset;
      transform: rotate(0deg);
      @include adaptiveValueREM('bottom', -25, -55, 1270, 320, 1);
      @include adaptiveValueREM('left', -100, -80, 1270, 320, 1);
      }
      &::after{
        content: url('../../public/img/home/water.webp');
        bottom: unset;
        top: -100px;
        right: -45px;
        width: 204px;
        max-height: 272px;
        z-index: 2;
        @media (max-width: $mobile) {
          right: -10px;
        }
    }
  }
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 5;
    }
  }

		&__dot-lt {
      @extend %dot;
      top: percent(90, 339);
      left: 8.515%;
      &::after{
        content: '';
        position: absolute;
        right: -5px;
        top: -34px;
        width: 133px;
        height: 2px;
        background-color: $green;
        transform: rotate(35deg);
      }
		}

		&__dot-lb {
      @extend %dot;
      top: percent(156, 339);
      left: 8.515%;
        &::after{
          content: '';
          position: absolute;
          right: 0px;
          top: 35px;
          width: 133px;
          height: 2px;
          background-color: $green;
          transform: rotate(-26.5deg);
        }
		}

		&__dot-rt {
      @extend %dot;
      top: percent(82, 339);
      left: percent(253, 329);
      &::after{
        content: '';
        position: absolute;
        right: -80px;
        top: -22px;
        width: 95px;
        height: 2px;
        background-color: $green;
        transform: rotate(-35deg);
      }
		}

		&__dot-rb {
      @extend %dot;
      top: percent(213, 339);
      left: percent(253, 329);
      &::after{
        content: '';
        position: absolute;
        right: -80px;
        top: 32px;
        width: 95px;
        height: 2px;
        background-color: $green;
        transform: rotate(35deg);
      }
		}
    @supports (filter: blur()){
      &__bg{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: percent(135, 329);
        height: percent(120, 339);
        transform: translate(-30%, -5%) rotate(90deg) scaleY(2);
        
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            transform: rotate(45deg);
            background: #000000;
            opacity: 0.3;
            filter: blur(18.75px);
        }
    }
  }



  &__cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 5;
    h3{
      display: none;
    }
    @media (max-width: em(1269)) {
      @include adaptiveValueREM('padding-top', 60, 10, 1269, 992, 1);
      @include adaptiveValueREM('padding-left', 40, 10, 1269, 992, 1);
      @include adaptiveValueREM('padding-right', 40, 10, 1269, 992, 1);
    }
    @media (max-width: $tablet) {
      position: relative;
      padding: 0;
      h3{
        display: block;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
      }
    }
    &.ground{
      .card-right{
        position: relative;
        top: 150px;
        @media (max-width: $tablet) {
        top: 0;
        }
      }
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:not(:last-child){
      margin-bottom: 110px;
    }
    @media (max-width: em(1269)) {
      &:not(:last-child){
        @include adaptiveValueREM('margin-bottom', 110, 20, 1269, 992, 1);
      }
    }
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__card-item {
    max-width: 380px;
    font-size: 15px;
    line-height: 150%;
    padding: 24px 40px;
    background-color: #ffffff;
    &.card-right{
      border-left: 2px solid #056C36;
    }
    &.card-left{
      border-right: 2px solid #056C36;
      
    }
    span{
      color: $green;
      font-weight: 700;
    }
    @media (max-width: em(1269)) {
      max-width: unset;
      @include adaptiveValueREM('width', 380, 280, 1269, 992, 1);
    }
    @media (max-width: $tablet) {
      width: 100%;
      padding: 0;
      font-size: 18px;
      &:not(:last-child){
      margin-bottom: 20px;
      
      }
      &.card-right{
        border-left: 0px solid #056C36;
      }
      &.card-left{
        border-right: 0px solid #056C36;
      }
    }
  }
}
/*============PUMP============*/

/*============CATALOG============*/
.catalog {
  @include adaptiveValueREM('padding-bottom', 100, 30, 1920, 320, 1);
  @include adaptiveValueREM('padding-top', 100, 30, 1920, 320, 1);
  background-color: $lightGreen;
  h2{
    text-align: center;
  }

  &__body {
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child){
      margin-right: 20px;
    }
    @media (max-width: $mobile) {
      &:not(:last-child){
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
  }

  &__img {
    display: block;
    @include adaptiveValueREM('padding-bottom', 60, 20, 1270, 768, 1);
    @include adaptiveValueREM('padding-top', 60, 20, 1270, 768, 1);
    @include adaptiveValueREM('padding-left', 69, 20, 1270, 768, 1);
    @include adaptiveValueREM('padding-right', 69, 20, 1270, 768, 1);
    position: relative;
    background-color: #ffffff;
    
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
  }

  &__link {
    @extend %btn;
    display: block;
    padding: 27px 0px;
    width: 100%;
    text-align: center;
  }
}
/*============CATALOG============*/