%btn{
  font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background: $gradient;
    background-position: -100px;
    background-size: calc(100% + 100px);
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
    padding: 15px 62px;
    @media (pointer: fine) {
      &:hover {
        background-position: 0;
      }
    }
}

h2, .thanks__title, .catalog-page__title h1{
  font-weight: 900;
  @include adaptiveValueREM('font-size', 30, 18, 1920, 320, 1);
  line-height: 126%;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: em(40, 30);
  span{
    color: $green;
  }
  @media (max-width: $mobile) {
    text-align: center;
  }
}

%dot{
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  &::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $green;
  }
  span{
    display: block;
    position: absolute;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $green;
    }
  }
  ._animated &{
    span{
      &::after{
        width: 100%;
      }
    }
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.error{
  color: red !important;
  border-color: red !important;
}

.breadcrumbs {
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 40px;
  span{
    color: $green;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}